
{% block selector %}
{% if flg %}
    <select class="exp exp2" name="year">
        {% for year in years %}
        <option value="{{ year }}" {{ 'selected' if year|string == dicData.expiration.year else '' }}>{{ year }}</option>
        {% endfor %}
    </select>
    <span class="exp-letter">/</span>
    <select class="exp exp3" name="month">
        {% for el in months %}
        <option value="{{ loop.index }}" {{ 'selected' if loop.index|string == dicData.expiration.month else '' }}>{{ el }}</option>
        {% endfor %}
    </select>
    <span class="exp-letter">/</span>
    <select class="exp exp4" name="date">
        {% for i in range(1, 32) %}
        <option value="{{ i }}" {{ 'selected' if i|string == dicData.expiration.date else '' }}>{{ i }}</option>
        {% endfor %}
    </select>
    <select class="exp exp5" name="hour">
        {% for i in range(24) %}
        <option value="{{ i }}" {{ 'selected' if i|string == dicData.expiration.hour else '' }}>{{ i }}</option>
        {% endfor %}
    </select>
    <span class="exp-letter">:</span>
    <select class="exp exp6" name="minute">
        {% for el in ['00', '30'] %}
        <option value="{{ el }}" {{ 'selected' if el == dicData.expiration.minute else '' }}>{{ el }}</option>
        {% endfor %}
    </select>
{% else %}
    <select class="exp exp2" name="year">
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    <span class="exp-letter">/</span>
    <select class="exp exp3" name="month">
        {% for el in months %}
        <option value="{{ loop.index }}">{{ el }}</option>
        {% endfor %}
    </select>
    <span class="exp-letter">/</span>
    <select class="exp exp4" name="date">
        {% for i in range(1, 32) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <select class="exp exp5" name="hour">
        {% for i in range(24) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <span class="exp-letter">:</span>
    <select class="exp exp6" name="minute">
        {% for el in ['00', '30'] %}
        <option value="{{ el }}">{{ el }}</option>
        {% endfor %}
    </select>
{% endif %}
{% endblock %}

