/*---------------------------------------------------- body */

body {
  background: #F9EAE4;
  font-family: 'Josefin Sans', "Helvetica Neue", "Arial", sans-serif;
  font-weight: lighter;
  padding-top: 8px;
  padding-left: 80px;
  padding-right: 80px;
  word-wrap: break-word;
  min-width: 0;
}
@media (min-width:768px) and (max-width:991px) {
  body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width:767px) {
  body {
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

/*---------------------------------------------------- header */

.flex-header1 {
  background: #F6C8B4;
  border-radius: 3px 3px 0px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom:  1.3px;
}
.item-1 {
  word-wrap: break-word;
  min-width: 0;
}
.item-1:nth-child(1) {
  text-align: left;
} 
.item-1:nth-child(2) {
  text-align: left;
}
@media (max-width:767px) {
  .item-1:nth-child(2) {
    display: none;
  }
}
@media (max-width:767px) {
  .flex-header1 {
    padding-top: 0.2px;
    padding-bottom: 0.2px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.flex-header2 {
  display: flex;
  align-items: flex-end;
}
.item-2 {
  background: #F0AF95;
  color: #ffffff;
  flex: 1;
  padding: 10px;
  word-wrap: break-word;
  min-width: 0;
}
.item-2:nth-child(1) {
  text-align: center;
  margin-right:  1px;
  border-radius: 0px 0px 0px 3px;
}
.item-2:nth-child(2) {
  text-align: center;
  margin-right:  0.4px;
  margin-left: 0.4px;
  border-radius: 0px 0px 0px 0px;
}
.item-2:nth-child(3) {
  text-align: center;
  margin-left: 1px;
  border-radius: 0px 0px 3px 0px;
}
.item-2 .link_1 {
  display: block;
}
@media (max-width:767px) {
  .item-2 {
    height: 22px;
    padding-top: 11px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

/*---------------------------------------------------- main */

main {
  margin-top: 30px;
  padding-left: 160px;
  padding-right: 160px;
  word-wrap: break-word;
  min-width: 0;
}
@media (min-width:768px) and (max-width:991px) {
  main {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width:767px) {
  main {
    margin-top: 25px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

/*---------------------------------------------------- link */

.item-1:link, .item-1:visited, .item-1:active, .item-1:hover {
  text-decoration: none;
}

.item-2:hover, .item-2:active {
  opacity: 0.8;
}

.link_1:link, .link_1:visited {
  color: #ffffff;
  text-decoration: none;
}
.link_1:hover, .link_1:active {
  color: #AD4720;
  text-decoration: none;
}
@media (max-width:767px) {
  .link_1:link, .link_1:visited {
    font-size: 11px;
  }
}
@media (max-width:767px) {
  .link_1:hover, .link_1:active {
    font-size: 11px;
  }
}

.circle-1:hover, .circle-2:hover, .circle-3:hover {
  color: #F0AF95;
}

.link_2:link, .link_2:visited, .link_2:active {
  color: #E48E6D;
  text-decoration: none;
}
.link_2:hover {
  color: #ffffff;
  text-decoration: none;
}

.link_3:link, .link_3:visited, .link_3:active {
  color: #843213;
  text-decoration: none;
}
.link_3:hover {
  color: #423733;
  text-decoration: none;
}

/*---------------------------------------------------- font */

header h2 {
  font-weight: lighter;
  font-size: 34px;
  color: #ffffff;
}
@media (max-width:767px) {
  header h2 {
    font-size: 24px;
  }
}

header h5 {
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
}

main h1 {
  color: #AD4720;
  font-weight: lighter;
}
@media (min-width:768px) and (max-width:991px) {
  main h1 {
    font-size: 23px;
  }
}
@media (max-width:767px) {
  main h1 {
    font-size: 21px;
  }
}

main p {
  color: #AD4720;
}
@media (max-width:767px) {
  main p {
    font-size: 13px;
  }
}

.font_error {
  color: #E48E6D;
}
@media (max-width:767px) {
  .font_error {
    font-size: 12px;
  }
}

footer p {
  font-size: 15px;
  color: #843213;
}
@media (max-width:767px) {
  footer p {
    font-size: 11px;
  }
}

/*---------------------------------------------------- */

.circle {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}
.circle-1, .circle-2, .circle-3 {
  background: #F6C8B4;
  opacity: 0.8;
  padding: 8%;
  width: 180px;
  height: 180px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}
.circle-1 {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
}
.circle-2 {
  border-radius: 80% 40% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
}
.circle-3 {
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 3s infinite linear;
}
@keyframes border-animation {
  to { transform: rotate(360deg); }
}
@media (min-width:768px) and (max-width:991px) {
  .circle {
    padding-top: 30px;
  }
}
@media (max-width:767px) {
  .circle {
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .circle-1, .circle-2, .circle-3 {
    padding: 5%;
    width: 140px;
    height: 140px;
    margin: 0 -5px;
  }
}
@media (max-width:767px) {
  .circle-1, .circle-2, .circle-3 {
    padding: 40%;
    width: 150px;
    height: 10px;
    margin: -4px 0;
  }
}

/*---------------------------------------------------- */

/* PC
@media (min-width:992px){} */
/* tablet */
@media (min-width:768px) and (max-width:991px){}
/* phone */
@media (max-width:767px){}


.color-sample {
  color: #423733;
  color: #665650;
  color: #843213;
  color: #AD4720;
  color: #E48E6D;
  color: #F0AF95;
  color: #F6C8B4;
  color: #F9EAE4;
  color: #F7EAE5;
  color: #F8F1EF;
}

