body {
  background: #F7EAE5;
  font-family: 'Josefin Sans', "Helvetica Neue", "Arial", sans-serif;
  font-weight: lighter;
  padding: 20px;
  word-wrap: break-word;
  min-width: 0;
}

.flex-box {
  display: flex;
  align-items: flex-end;
	justify-content: space-evenly;
}

.flex-item {
  margin:  3px;
  padding: 10px;
  font-size: 14px;
}

.link_1:link, .link_1:visited, .link_1:active {
  color: #F5CFC1;
  text-decoration: none;
}
.link_1:hover {
  color: #AD4720;
  text-decoration: none;
}

.link_2:link, .link_2:visited, .link_2:active {
  color: #E48E6D;
  text-decoration: none;
}
.link_2:hover {
  color: #ffffff;
  text-decoration: none;
}

/*---------------------------------------------------- */

main p{
  font-size: 18px;
  color: #AD4720;
}

main span {
  font-size: 80px; 
}

footer p {
  color: #843213;
}

  
.color-sample {
  color: #423733;
  color: #843213;
  color: #AD4720;
  color: #E48E6D;
  color: #EC966F;
  color: #F5CFC1;
  color: #F9EAE4;
  color: #F7EAE5;
}

