/*----------------------------------------------------------------------- body */

body {
  /* background: #D4E0D8; */
  /* background: linear-gradient(-15deg, #CEDCD2, #CED1DC, #DCCED8); */
  background: linear-gradient(-15deg, rgba(220, 206, 216, 0.85), rgba(206, 209, 220, 0.85), rgba(206, 220, 210, 0.85));
  font-family: 'Josefin Sans', "Helvetica Neue", "Arial", sans-serif;
  transition: 0.6s;
  animation: huerotator 4.5s infinite alternate;
  font-weight: lighter;
  margin-top: 0px;
  word-wrap: break-word;
  min-width: 0;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/*----------------------------------------------------------------------- header main footer */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper-header {
  max-width: 2000px;
  margin: 0 auto;
}
.wrapper-main {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  transition: 0.6s;
  padding-left: 3vw; /* 80px; */
  padding-right: 3vw; /* 80px; */
}
@media (min-width:768px) and (max-width:991px) {
  header {
    padding-left: 2.5vw; /* 30px; */
    padding-right: 2.5vw; /* 30px; */
  }
}
@media (max-width:767px) {
  header {
    padding-left: 1vw; /* 9px; */
    padding-right: 1vw; /* 9px; */
  }
}

main {
  transition: 0.6s;
  margin-top: 3vh; /* 30px; */
  padding-left: 15vw; /* 160px; */
  padding-right: 15vw; /* 160px; */
  word-wrap: break-word;
  min-width: 0;
}
@media (min-width:768px) and (max-width:991px) {
  main {
    margin-top: 2.9vh; /* 27px */
    padding-left: 7vw; /* 80px; */
    padding-right: 7vw; /* 80px; */
  }
}
@media (max-width:767px) {
  main {
    margin-top: 3vh; /* 24px; */
    padding-left: 5vw; /* 20px; */
    padding-right: 5vw; /* 20px; */
  }
}

.main-back {
  background: linear-gradient(-18deg, #DAE5DD, #DADCE5, #E5DAE2);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.5%; /* 25px; */
  padding-right: 2.5%; /* 25px; */
}

footer {
  margin-top: auto;
}

/*----------------------------------------------------------------------- HEADER FLEX */
/*----------------------------------------------------------------------- header-title */
  
.header-title {
  background: #B4C1B8;
  padding: 1vh 3.8vw 1vh 3.8vw; /* 10px 50px 10px 50px; */
  margin-bottom:  1.3px;
}
.title {
  word-wrap: break-word;
  min-width: 0;
}
.title:nth-child(1) {
  text-align: left;
} 
.title:nth-child(2) {
  text-align: left;
}
@media (min-width:768px) and (max-width:991px) {
  .header-title {
    padding: 0.1vh 6vw 0.1vh 6vw; /* 1px 50px 1px 50px; */
  }
}
@media (max-width:767px) {
  .header-title {
    padding: 0.2vh 5vw 0.2vh 5vw; /* 0.2px 30px 0.2px 30px; */
  }
}
@media (max-width:767px) {
  .title:nth-child(2) {
    display: none;
  }
}

/*----------------------------------------------------------------------- header-menu */

ul {
  padding: 0px;
}
.header-menu {
  display: flex;
  margin: 0 auto;
/*   height: 2.5rem; */ /* mainを固定 */
}
.header-menu > li {
  flex: 1;
}
.header-menu li { /* 全てのリスト・リンク共通 */
  list-style: none;
}
.header-menu li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  height: 2.5rem;
  line-height: 2.5rem; /* textを上下の真ん中に */
  margin-bottom:  1.3px;
}
.header-menu li li { /* 子階層共通 */
  height: 0; /* 隠す */
  margin-bottom:  1.3px;
  overflow: hidden;
  transition: .5s;
}
.header-menu li:hover > ul > li {
  height: 2.5rem; /* hover時全表示 */
  overflow: visible;
}
.menu1 {
  background: rgba(155, 165, 158, 0.95);
  margin-right:  1px;
}
.menu2 {
  background: rgba(155, 157, 165, 0.8);
  margin-right:  0.4px;
  margin-left: 0.4px;
}
.menu3 {
  background: rgba(165, 155, 162, 0.8);
  margin-left: 1px;
}
@media (max-width:767px) {
  .header-menu li a {
    height: 2rem;
    line-height: 2rem;
  }
}
@media (max-width:767px) {
  .header-menu li:hover > ul > li {
    height: 2rem;
  }
}

/*----------------------------------------------------------------------- MAIN FLEX */
/*----------------------------------------------------------------------- form-url */

.form-url {
  display: flex;
  align-items: center;
}
.url {
  height: 40px;
  padding: 0px 0px 0px 0px;
}
.url:nth-child(1) {
  background: rgba(155, 165, 158, 0.45);
  text-align: center;
  border-radius: 6px 0px 0px 6px;
  min-width: 40px;
  height: 32px;
  padding-top: 8px;
  border-width: 0.3px;
  border-style: outset;
  border-color: initial;
}
.url:nth-child(2) {
  background: #F3F6F4;
  color: #818983;
  font-weight: lighter;
  font-size: 18px;
  border-radius: 0px 6px 6px 0px;
  width: 600px;
  padding-left: 25px;
  padding-right: 23px;
  margin-right: 20px;
  border-width: 0.3px;
  border-color: initial;
}
.url:nth-child(3) {
  color: #FFF;
	/* background: rgba(155, 165, 158, 0.55); */
  background: linear-gradient(-18deg, #B4C1B8, #B4B7C1, #C1B4BD);
  text-align: center;
  font-weight: lighter;
  font-size: 17px;
  border-radius: 6px;
  width: 160px;
  border-width: 0.3px;
  border-color: initial;
}
@media (min-width:768px) and (max-width:991px) {
  .url:nth-child(2) {
    font-size: 16px;
    width: 500px;
    padding-left: 12px;
    padding-right: 10px;
    margin-right: 14px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .url:nth-child(3) {
    font-size: 15px;
    width: 120px;
  }
}
@media (max-width:767px) {
	.url {
		height: 33px;
	}
}
@media (max-width:767px) {
	.url:nth-child(1) {
		min-width: 30px;
    height: 27px;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
	}
}
@media (max-width:767px) {
	.url:nth-child(2) {
		font-size: 13px;
    width: 400px;
    padding-left: 12px;
    padding-right: 10px;
    margin-right: 14px;
	}
}
@media (max-width:767px) {
	.url:nth-child(3) {
		font-size: 12px;
    width: 80px;
	}
}

/*----------------------------------------------------------------------- form-path */

.form-path {
  display: flex;
  align-items: center;
  padding-bottom: 9px;
}
.path {
  height: 40px;
  padding: 0px;
}
.path:nth-child(1) {
	background: rgba(155, 157, 165, 0.45);
  text-align: center;
  border-radius: 6px 0px 0px 6px;
  min-width: 40px;
  height: 32px;
  padding-top: 8px;
  border-width: 0.3px;
  border-style: outset;
  border-color: initial;
}
.path:nth-child(2) {
  background: #F3F4F6;
  color: #818983;
  font-weight: lighter;
  font-size: 16px;
  width: 119px;
  /* flex-basis:  283px; */
  padding-left: 25px;
  padding-right: 0px;
  border-radius: 0px;
  border-width: 0.3px;
  border-color: initial;
  border-right:0px;
  margin-left: 0px;
  margin-right: 0px;
}
.path:nth-child(3) {
  background: #F3F4F6;
  color: #818983;
  font-weight: lighter;
  font-size: 18px;
  width: 481px;
  /* flex-basis:  auto; */
  padding-left: 0px;
  padding-right: 23px;
  border-radius: 0px 6px 6px 0px;
  border-width: 0.3px;
  border-color: initial;
  border-left:0px;
  margin-left: 0px;
}
@media (min-width:768px) and (max-width:991px) {
  .path:nth-child(2) {
    font-size: 14px;
    width: 105px;
    /* flex-basis:  253px; */
    padding-left: 12px;
    padding-right: 0px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .path:nth-child(3) {
    font-size: 16px;
    width: 395px;
    /* flex-basis:  auto; */
    padding-left: 0px;
    padding-right: 10px;
  }
}
@media (max-width:767px) {
	.path {
		height: 33px;
	}
}
@media (max-width:767px) {
	.path:nth-child(1) {
		min-width: 30px;
    height: 29px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
	}
}
@media (max-width:767px) {
	.path:nth-child(2) {
		font-size: 12px;
    width: 92px;
    /* flex-basis:  205px; */
    padding-left: 12px;
    padding-right: 0px;
	}
}
@media (max-width:767px) {
	.path:nth-child(3) {
		font-size: 13px;
    width: 308px;
    /* flex-basis:  auto; */
    padding-left: 0px;
    padding-right: 10px;
	}
}

/*----------------------------------------------------------------------- form-exp */

.form-exp {
  display: flex;
  align-items: center;
  padding-bottom: 9px;
}
.exp {
  min-width: 0;
  background: #F6F3F5;
  color: #818983;
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  height: 40px;
  padding-left: 16px;
  padding-right: 15px;
  -webkit-appearance:none;
  border-radius: 6px;
  border-width: 0.3px;
  border-style: inset;
  border-color: initial;
}
.exp-1 {
	background: rgba(165, 155, 162, 0.45);
  text-align: center;
  border-radius: 6px 0px 0px 6px;
  min-width: 40px;
  height: 31px;
  padding-top: 7px;
  border-width: 0.3px;
  border-style: outset;
  border-color: initial;
}
.exp2 {
  width: 145px;
  border-radius: 0px 6px 6px 0px;
}
.exp3 {
  width: 183px;
}
.exp4 {
  width: 66px;
  margin-right: 36px;
}
.exp5, .exp6 {
  width: 66px;
}
.exp-letter {
  align-items: center;
  text-align: center;
  color: #676E69;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width:768px) and (max-width:991px) {
  .exp {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 11px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .exp2 {
    width: 118px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .exp3 {
    width: 161px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .exp4 {
    width: 46px;
    margin-right: 26px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .exp5, .exp6 {
    width: 46px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .exp-letter {
    font-size: 25px;
    margin-left: 9;
    margin-right: 9px;
  }
}
@media (max-width:767px) {
	.exp {
    font-size: 13px;
		height: 33px;
    padding-left: 9px;
    padding-right: 8px;
	}
}
@media (max-width:767px) {
	.exp-1 {
		min-width: 30px;
    height: 27px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
	}
}
@media (max-width:767px) {
  .exp2 {
    width: 95px;
  }
}
@media (max-width:767px) {
  .exp3 {
    width: 120px;
  }
}
@media (max-width:767px) {
  .exp4 {
    width: 46px;
    margin-right: 15px;
  }
}
@media (max-width:767px) {
  .exp5, .exp6 {
    width: 46px;
  }
}
@media (max-width:767px) {
	.exp-letter {
    font-size: 21px;
    margin-left: 6px;
    margin-right: 6px;
	}
}

/*----------------------------------------------------------------------- copy-btn */

.main-copy {
  display: flex;
  align-items: center;
  margin-top: 9px;
}
.copy, .copy-btn {
  height: 40px;
  padding: 0px 0px 0px 0px;
}
.copy:nth-child(1) {
  background: linear-gradient(-15deg, #CEDCD2, #CED1DC, #DCCED8);
  text-align: center;
  border-radius: 6px 0px 0px 6px;
  min-width: 40px;
  height: 28px;
  padding-top: 12px;
  border-width: 0.3px;
  border-style: outset;
  border-color: initial;
}
.copy:nth-child(2) {
  background: #FFFFFF;
  color: #818983;
  font-weight: lighter;
  font-size: 18px;
  border-radius: 0px 6px 6px 0px;
  width: 600px;
  padding-left: 25px;
  padding-right: 23px;
  margin-right: 20px;
  border-width: 0.3px;
  border-style: inset;
  border-color: initial;
}
.copy-btn {
  background: linear-gradient(-15deg, #CEDCD2, #CED1DC, #DCCED8);
  color: #FFFFFF;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  border-radius: 6px;
  width: 160px;
  height: 30px;
  padding-top: 10px;
  border-width: 0.3px;
  border-style: outset;
  border-color: initial;
}
@media (min-width:768px) and (max-width:991px) {
  .copy:nth-child(2) {
    font-size: 16px;
    width: 500px;
    padding-left: 12px;
    padding-right: 10px;
    margin-right: 14px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .copy-btn {
    font-size: 15px;
    width: 120px;
  }
}
@media (max-width:767px) {
	.copy, .copy-btn {
		height: 33px;
	}
}
@media (max-width:767px) {
	.copy:nth-child(1) {
		min-width: 30px;
    height: 24px;
    padding-top: 9px;
    padding-left: 4px;
    padding-right: 4px;
	}
}
@media (max-width:767px) {
	.copy:nth-child(2) {
		font-size: 13px;
    width: 400px;
    padding-left: 12px;
    padding-right: 10px;
    margin-right: 14px;
	}
}
@media (max-width:767px) {
	.copy-btn {
		font-size: 12px;
    width: 80px;
    height: 24px;
    padding-top: 9px;
	}
}

/*----------------------------------------------------------------------- HOVER FONT */
/*----------------------------------------------------------------------- hover */

.title:link, .title:visited, .title:active, .title:hover {
  text-decoration: none;
}
  
.menu1:hover {
  /* background: #818983; */
  background: rgba(129, 137, 131, 0.8);
}
.menu2:hover {
  /* background: #9B9DA5; */
  background: rgba(155, 157, 165, 1);
}
.menu3:hover {
  /* background: #A59BA2; */
  background: rgba(165, 155, 162, 1);
}
.link-menu1:hover {
  color: #DAE5DD;
  text-decoration: none;
}
.link-menu2:hover {
  color: #DADCE5;
  text-decoration: none;
}
.link-menu3:hover {
  color: #E5DAE2;
  text-decoration: none;
}
@media (max-width:767px) {
  .link-menu1, .link-menu2, .link-menu3 {
    font-size: 11px;
  }
}

.link-main  {
  color: #9B9DA5;
  font-size: 20px;
  font-weight: 200;
}
.link-main:link, .link-main:visited, .link-main:active {
  color: #9B9DA5;
  text-decoration: none;
}
.link-main:hover {
  color: #FFFFFF;
  text-decoration: none;
}
@media (min-width:768px) and (max-width:991px) {
  .link-main {
    font-size: 18px;
  }
}
@media (max-width:767px) {
  .link-main {
    font-size: 15px;
  }
}

.url:nth-child(3):hover {
  /* background: #9BA59E; */
  /* background: rgba(155, 165, 158, 0.8); */
  background: linear-gradient(-135deg, #9BA59E, #9B9DA5, #A59BA2);
}

.copy-btn:hover {
  background: #FFFFFF;
  color: #9B9DA5;
  cursor: pointer;
}
  
.GitHub:link, .GitHub:visited, .GitHub:active {
  color: #676E69;
  text-decoration: none;
}
.GitHub:hover {
  color: #343735;
  text-decoration: none;
}
  
/*----------------------------------------------------------------------- font */
  
header h2 {
  font-weight: lighter;
  font-size: 34px;
  color: #FFFFFF;
}
@media (min-width:768px) and (max-width:991px) {
  header h2 {
    font-size: 32px;
  }
}
@media (max-width:767px) {
  header h2 {
    font-size: 24px;
  }
}
  
header h5 {
  font-weight: lighter;
  font-size: 16px;
  color: #FFFFFF;
}
  
main h1 {
  font-weight: lighter;
  font-size: 26px;
  color: #4D524F;
}
@media (min-width:768px) and (max-width:991px) {
  main h1 {
    font-size: 23px;
  }
}
@media (max-width:767px) {
  main h1 {
    font-size: 21px;
  }
}
  
main p {
  font-size: 19px;
  color: #676E69;
  line-height: 100%;
}
@media (min-width:768px) and (max-width:991px) {
  main p {
    font-size: 17px;
  }
}
@media (max-width:767px) {
  main p {
    font-size: 15px;
  }
}

.font-back {
  background-color: #D4E0D8;
}
  
.font-error {
  font-weight: 200;
  font-size: 18px;
  color: #A59BA2;
}
@media (min-width:768px) and (max-width:991px) {
  .font-error {
    font-size: 16px;
  }
}
@media (max-width:767px) {
  .font-error {
    font-size: 14px;
  }
}

.icon-internal {
  color: #A59BA2;
}
.icon-url {
  color: #FFFFFF;
}
.icon-path {
  color: #FFFFFF;
}
.icon-exp {
  color: #FFFFFF;
}
.icon-copy {
  color: #FFFFFF;
}
  
footer p {
  font-size: 15px;
  color: #676E69;
}
@media (min-width:768px) and (max-width:991px) {
  footer p {
    font-size: 13px;
  }
}
@media (max-width:767px) {
  footer p {
    font-size: 12px;
  }
}

/*----------------------------------------------------------------------- */

.color-sample {
  color: #FFFFFF;
  color: #F9FBF9;
  color: #F3F6F4; /* (BELOW form input) */
  color: #E7EDE9;
  color: #DAE5DD; /* link-menu:hover / main-back -> / link-menu1:hover */
  color: #D4E0D8; /* font-back */
  color: #CEDCD2; /* body background -> / copy icon -> / copy btn -> */
  color: #B4C1B8; /* header-title / form button -> */
  color: #9BA59E; /* (BELOW header-menu) / form icon(url) */
  color: #818983; /* menu-1:hover / form input font */
  color: #676E69; /* github / (BELOW main p) / footer p */
  color: #4D524F; /* (BELOW main h1) */
  color: #343735; /* github:hover */
  color: #1A1B1A;
  color: #898B8A;


  color: #F3F6F4; /* form input (url) */
  color: #F3F4F6; /* form input (path) */
  color: #F6F3F5; /* form input (exp) */

  color: #DAE5DD; /* main-back -> / link-menu1:hover */
  color: #DADCE5; /*              / link-menu2:hover */
  color: #E5DAE2; /* main-back <- / link-menu3:hover */

  color: #CEDCD2; /* ORIGINAL / body background -> / copy icon -> / copy btn -> */
  color: #CED1DC;
  color: #DCCED8; /*            body background <- / copy icon <- / copy btn <- */

  color: #B4C1B8; /* form button -> */
  color: #B4B7C1;
  color: #C1B4BD; /* form button <- */

  color: #9BA59E; /* menu-1 / form icon(url) / form button:hover -> */
  color: #9B9DA5; /* menu-2 / menu-2:hover / link-main / form icon(path) */
  color: #A59BA2; /* menu-3 / menu-3:hover / font-error / form icon(exp) / icon-internal / form button:hover <- */

  color: #676E69; /* GitHub / main p / footer p */
  color: #67696E; /* main p */
  color: #6E676C; /* main p */

  color: #4D524F; /* main h1 */
  color: #4D4E52; /* main h1 */
  color: #524D51; /* main h1 */
}

