body {
  background: #F9EAE4;
  font-family: 'Josefin Sans', "Helvetica Neue", "Arial", sans-serif;
  font-weight: lighter;
  padding: 20px;
  word-wrap: break-word;
  min-width: 0;
}

header {
  padding: 15px;
}

.flex-box {
  background-color: #F5BFA9;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  align-items: flex-end;
}

.flex-item {
  color: #ffffff;
  margin:  3px;
  font-size: 14px;
}

.flex-item:nth-child(1) {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.flex-item:nth-child(2) {
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  height: 20px;
  width: 153px;
  background-color:  #ECA281;
}

.flex-item:nth-child(3) {
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  height: 20px;
  width: 153px;
  background-color: #ECA281;
}

.flex-item:nth-child(4) {
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  height: 20px;
  width: 153px;
  background-color:  #ECA281;
}

.link_1:link, .link_1:visited, .link_1:active {
  color: #ffffff;
  text-decoration: none;
}
.link_1:hover {
  color: #AD4720;
  text-decoration: none;
}

.link_2:link, .link_2:visited, .link_2:active {
  color: #E48E6D;
  text-decoration: none;
}
.link_2:hover {
  color: #ffffff;
  text-decoration: none;
}

/*---------------------------------------------------- */

header h2 {
  font-size: 36px;
  color: #ffffff;
}

header h5 {
  font-size: 13px;
  color: #ffffff;
  font-weight: lighter;
}

.font_error {
  color: #E48E6D;
  font-size: 20px;
}

footer p {
  color: #843213;
}

h1 {
  color: #AD4720;
  font-weight: lighter;
}

h2 {
  color: #AD4720;
  font-weight: lighter;
}

p {
  color: #AD4720;
}


.color-sample {
  color: #423733;
  color: #843213;
  color: #AD4720;
  color: #E48E6D;
  color: #EC966F;
  color: #F5CFC1;
  color: #F9EAE4;
  color: #F7EAE5;
}

