
body {
  background: #9cb4b5;
  font-family: 'Josefin Sans', "Helvetica Neue", "Arial", sans-serif;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  word-wrap: break-word;
  min-width: 0;
}

.header-back {
  background: #819e9e;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

h4 {
  font-weight: lighter;
  color: #FFFFFF;
}

p {
  font-size: 14px;
  color: #FFFFFF;
}

.font-error {
  font-size: 14px;
  color: #4D524F;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}

