<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>URLshortening</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div align="center">
		<h4>short link generator</h4>
		<p>{{ message_get }}</p>
	</div>
	<div align="center">
		<form action="/" method="POST" enctype="multipart/form-data">
			<input type="text" name="originalURl">
			<input type="submit" value="generate">
		</form>
	</div>
	<div align="center">
		<p>{{ message_post1 }}<a href="{{ message_post2 }}">{{ message_post2 }}</a></p>
		<p>{{ message_post3 }}<a href="{{ message_post4 }}">{{ message_post4 }}</a></p>
	</div>
</body>
</html>
