<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>URLshortening</title>
	<link rel="stylesheet" type= "text/css" href="/static/style.css">
</head>
<body>
	<div class="wrapper">
		<header>
			<div align="center" class="header-back">
				<h4>SHORT LINK GENERATOR</h4>
			</div>
		</header>
		<main>
			<div align="center" style="min-height: 65vh">
				<div>
					<p>Enter a URL to be shortened</p>
					<p class="font-error">{{ message_error }}</p>
				</div>
				<div>
					<form action="/" method="POST" enctype="multipart/form-data">
						<input type="text" name="originalURl">
						<input type="submit" value="generate">
					</form>
				</div>
				<div>
					<p>{{ message_post1 }}<a href="{{ originalURL }}">{{ originalURL }}</a></p>
					<p>{{ message_post2 }}<a href="{{ generatedURL }}">{{ generatedURL }}</a></p>
				</div>
			</div>	
		</main>
		<footer>
		</footer>
	</div>
</body>
</html>

